<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.moki.tomoko.mapper.ChannelMapper">

    <resultMap id="BaseResultMap" type="com.im.moki.tomoko.entity.ChannelEntity">
        <!-- 频道id -->
        <id column="CHANNEL_ID" property="channelId" jdbcType="BIGINT" />
        <!-- 频道号 -->
        <result column="CHANNEL_NO" property="channelNo" jdbcType="VARCHAR" />
        <!-- 频道名称 -->
        <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        t.CHANNEL_ID,t.CHANNEL_NO,t.CHANNEL_NAME

    </sql>

</mapper>